VITE_SUPABASE_URL=https://pdadclhefyotuexvmfpc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkYWRjbGhlZnlvdHVleHZtZnBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyODY5ODcsImV4cCI6MjA5MDg2Mjk4N30.4v5DOpooPj1xk8tBLUhMkb8UZuHQnlfCAoUcq44ZWXo
